figure{
   width:430px; /*container-width*/
   overflow:hidden; /*hide bounds of image */
   margin:-100px 0 0 0;   /*reset margin of figure tag*/
}
figure img{
   display:block; /*remove inline-block spaces*/
   width:100%; /*make image streatch*/
}

.navbar-brand img{
  height:90px !important;
}

.navbar-collapse .collapse-brand img {
    height: 90px;
}

.buttonsActivity{
  margin-left: -10%;
}

.section-profile-cover {
    height: 680px;
}

.profilePic{
  margin-bottom: 100px;
}

#adicionarAtividade,#removerAtividade{
  transform: translateX(-50%) !important;
}
#loginForm{
  margin: -50px 0 0 0;
}

#homeLogo{
  height: 250px;
  margin: 0 12%;
}

@media (min-width: 992px){
  .mt--300 {
      margin-top: -600px !important;
  }
}
